*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

.buttons-container{

}

.section-container{
    width: 100%;
    position: relative;
    height: 100vh;
}

.img-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
 
/* HEADER */

/* LIST SETTINGS */

.button-list{
    list-style-type: none;
    display: inline;
}

/* IMG SETTINGS */

.shoes{
    max-width: 100%;
}

/* TEXT SETTINGS */

*{
    font-family: 'Kanit', sans-serif;
}

.font-title{
    font-size: 80px;
}

.text-center{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

/* BG-COLORS */

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

/* COLORS */

.yellow{
    color: yellow;
}

.green{
    color: green;
}



