*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

.container{

}

/* BG-COLORS */

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-yellow{
    background-color: yellow;
}

/* COLORS */

.yellow{
    color: yellow;
}

.green{
    color: green;
}



