*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

.container{
    width: 100%;
    position: relative;
    height: 100vh;
}

.img-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.shoes{
    max-width: 100%;
}


/* BG-COLORS */

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

/* COLORS */

.yellow{
    color: yellow;
}

.green{
    color: green;
}



